spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true             # SQL을 예쁘게 정렬하여 출력
        highlight_sql: true          # SQL 키워드에 색상 부여 (터미널 가독성 향상)
        use_sql_comments: true       # 쿼리가 어떤 비즈니스 로직에서 발생했는지 주석 추가
        default_batch_fetch_size: 100 # N+1 문제 완화를 위한 성능 최적화 옵션

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  data:
    redis:
      host: localhost
      port: 6379

  # 로컬 개발 환경에서만 Access Key 사용. prod 환경은 OIDC 임시 토큰 발급받는 방식으로 사용
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}

jwt:
  secret-key: "your-very-long-jwt-secret-key-local-dev-only"
  access-token-expire-ms: 900000
  refresh-token-expire-ms: 604800000

logging:
  level:
    root: info
    com.safely: info
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace