spring:
  application:
    name: safely

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    open-in-view: false # 성능 최적화를 위해 false 권장
    properties:
      hibernate:
        format_sql: true

  cloud:
    aws:
      s3:
        bucket: ${S3_BUCKET}
      region:
        static: ap-northeast-2

spring.profiles.active: dev