spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  data:
    redis:
      host: localhost
      port: 6379
      password: redis1234!

  # 로컬 개발 환경에서만 Access Key 사용. prod 환경은 OIDC 임시 토큰 발급받는 방식으로 사용
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}

jwt:
  secret-key: "your-very-long-jwt-secret-key-local-dev-only"
  access-token-expire-ms: 900000
  refresh-token-expire-ms: 604800000

logging:
  level:
    org.springframework: DEBUG
    com.safely: DEBUG